<!-- footer -->
<div class="ish-footer">
    <div class="ish-footer__wrapper">
        <div class="ish-footer__wrapper-inner">
            Wert <a href="https://themes.ishyoboy.com/wert-html/" target="_blank">Theme</a><span> ~ </span>
            Proudly powered by <a href="https://wordpress.org/" target="_blank">WordPress</a><span> ~ </span>
            Crafted by <a href="https://ishyoboy.com/" target="_blank">IshYoBoy.com</a>
        </div>
    </div>
</div>
<!-- footer end -->



</div>

<!-- sidenav -->
<div class="ish-sidenav">
    <div class="ish-sidenav-inner">

        <div class="ish-sidenav-menu">
            <a href="" class="ish-sidenav-menu__icon">
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>

        <div class="ish-sidenav-socials">
            <a class="ish-sidenav-socials__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom"
                target="_blank"></a>
            <a class="ish-sidenav-socials__icon ish-icon-behance" href="https://www.behance.net/mattimling"
                target="_blank"></a>
            <a class="ish-sidenav-socials__icon ish-icon-dribbble" href="https://dribbble.com/MattImling"
                target="_blank"></a>
            <a class="ish-sidenav-socials__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom"
                target="_blank"></a>
        </div>

        <div class="ish-sidenav-btt">
            <a class="ish-sidenav-btt__icon ish-icon-up" href="#top"></a>
        </div>

    </div>
</div>
<!-- sidenav end -->

<!-- floated nav & search -->
<div class="ish-navigation">

    <a class="ish-navigation__close-btn ish-icon-cancel" href="#close">
        <span class="ish-navigation__close-btn-desc">Close ( ESC )</span>
    </a>

    <ul class="ish-navigation__menu">
        <li class="ish-navigation__item">
            <a class="ish-navigation__logo" href="./">we <span>|</span> rt</a>
        </li>

        <li class="ish-navigation__item ish-navigation__item--active">
            <a href="index.html" class="ish-navigation__link">Home / Portfolio</a>
            <ul>
                <li class="ish-navigation__subitem--active"><a href="index.html">Classic Layout</a></li>
                <li><a href="portfolio-zigzag.html">Zigzag Layout</a></li>
                <li><a href="portfolio-detail1.html">Portfolio Detail 1</a></li>
                <li><a href="portfolio-detail2.html">Portfolio Detail 2</a></li>
            </ul>
        </li>

        <li class="ish-navigation__item">
            <a href="blog.html" class="ish-navigation__link">Blog</a>
            <ul>
                <li><a href="blog.html">Blog Overview</a></li>
                <li><a href="blog-detail">Blog Detail</a></li>
                <li><a href="blog-archive.html">Category / Tag Archive</a></li>
            </ul>
        </li>

        <li class="ish-navigation__item">
            <a href="about.html" class="ish-navigation__link">We</a>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="our-team.html">Our Team</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </li>

        <li class="ish-navigation__item">
            <a href="shortcodes.html" class="ish-navigation__link">Pages</a>
            <ul>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li><a href="search-results.html">Search Results</a></li>
                <li><a href="error-404.html">404 Error</a></li>
            </ul>
        </li>

        <li class="ish-navigation__item"><a href="contact.html" class="ish-navigation__link">Contact</a></li>

        <li class="ish-navigation__item ish-navigation__item--search"><a href="#s"
                class="ish-navigation__link ish-icon-search"></a></li>

        <li class="ish-navigation__item ish-navigation__item--search-form">
            <form role="search" method="get" class="ish-navigation__search-form" action="search-results.html">
                <button type="submit" class="ish-navigation__search-btn"><i class="ish-icon-search"></i></button>
                <input type="text" value="" name="search" class="ish-navigation__search-field"
                    placeholder="Type text and press enter">
                <i class="ish-navigation__search-close ish-icon-cancel"></i>
            </form>
        </li>

        <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"
                href="https://twitter.com/ishyoboydotcom" target="_blank"></a></li>
        <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"
                href="https://dribbble.com/MattImling" target="_blank"></a></li>
        <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"
                href="https://www.behance.net/mattimling" target="_blank"></a></li>
        <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"
                href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a></li>

    </ul>

</div>
<!-- floated nav & search end -->

<!-- resp bottom navigation -->
<div class="ish-resp-nav">
    <a class="ish-resp-nav__icon ish-resp-nav__icon--sidebar ish-icon-list-add" href=""></a>
    <a class="ish-resp-nav__icon ish-resp-nav__icon--nav ish-icon-article" href=""></a>
    <a class="ish-resp-nav__icon ish-resp-nav__icon--btt ish-icon-up" href=""></a>
</div>
<!-- resp bottom navigation end -->

</div>

<script src="/plugins/plugins.js"></script>
<script src="/js/main.js"></script>

</body>

</html>