<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Wert - Different Portfolio HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="/stylesheets/vendor.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="ish--hc1 ish--htc2">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- sidebar -->
<a class="ish-sbar-overlay" href="#close"></a>
<a class="ish-sbar-btn ish-icon-list-add" href="#open">
	<span class="ish-sbar-btn__desc">Click to open sidebar</span>
</a>
<div class="ish-sbar">
	<div class="ish-sbar__inner">
		<a class="ish-sbar__logo" href="index.html">we <span>|</span> rt</a>

		<p>We are small but passionate team of creative people from all aroud the world.</p>
		<p>We focued on making process of awesome digital content easier for real clients.</p>
		<p><a href="our-team.html">Read more about the team</a></p>

		<div class="ish-icons-group">
			<a class="ish-icons-group__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-behance" href="https://www.behance.net/mattimling" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-dribbble" href="https://dribbble.com/MattImling" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a>
		</div>

		<!-- close btn -->
		<a class="ish-sbar-close-btn ish-icon-cancel" href="#close">
			<span class="ish-sbar-close-btn__desc">Close ( ESC )</span>
		</a>
	</div>
</div>
<!-- sidebar end -->

<div class="ish-wrapper">

	<div class="ish-wrapper__inner">

		<!-- header -->
		<header class="ish-row ish-header">
			<div class="ish-header__logo">
				<a class="ish-header__link" href="./">we <span>|</span> rt</a>
			</div>
			<div class="ish-header__tagline">
				Different Portfolio HTML Template
			</div>
		</header>
		<!-- header end -->