<% include layouts/header %>
<!-- lead -->
<div class="ish-row ish-fullrow ish-lead">
    <span class="ish-lead__caption ish-icon-up">Featured Image</span>
    <div class="ish-lead__image">
        <img src="/img/header2.jpg" alt="wawererly design">
    </div>
    <h1 class="ish-lead__headline">
        <span class="ish-lead__headline-inner">Wawererly<br>Design</span>
    </h1>
</div>
<!-- lead end -->

<!-- content -->
<div class="ish-row ish-content">

    <div class="ish-col-xs-12 ish-col-sm-4 ish-last-xs ish-first-sm ish-content__sidebar">

        <!-- side content -->
        <p>
            An illustration is a visualization or a depiction made by an artist, such as a drawing,
            sketch, painting, photograph, or other kind of image of things seen, remembered or imagined,
            using a graphical representation.
        </p>
        <p>
            The word comes from the latin word illustra’tio, illu’stro meaning enlighten, irradiate.
        </p>

        <ul class="ish-sidebar-mdata post-meta">
            <li class="ish-sidebar-mdata__item">
                <strong class="ish-sidebar-mdata__title post-meta-key">Client</strong>
                IshYoBoy
            </li>
            <li class="ish-sidebar-mdata__item">
                <strong class="ish-sidebar-mdata__title post-meta-key">Work Done</strong>
                Website, Logotype, Visual Identity
            </li>
            <li class="ish-sidebar-mdata__item">
                <strong class="ish-sidebar-mdata__title post-meta-key">Category</strong>
                <a href="#">Website</a>
            </li>
            <li class="ish-sidebar-mdata__item">
                <strong class="ish-sidebar-mdata__title post-meta-key">Link</strong>
                <a href="https://ishyoboy.com" target="_blank">ishyoboy.com</a>
            </li>
        </ul>

        <hr>

        <div class="ish-sidebar-share">
            <strong class="ish-sidebar-share__desc">Share</strong>
            <ul class="ish-sidebar-share__list">
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                        class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                        class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                        class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                        class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"></a>
                </li>
            </ul>
        </div>

        <hr>

        <ul class="ish-prev-next">
            <li class="ish-prev-next__item ish-prev-next--left">
                <a class="ish-prev-next__link" href="portfolio-detail2.html">Previous</a>
                <span class="ish-prev-next__icon ish-icon-left"></span>
            </li>
            <li class="ish-prev-next__item ish-prev-next--right">
                <a class="ish-prev-next__link" href="portfolio-detail2.html">Next</a>
                <span class="ish-prev-next__icon ish-icon-right"></span>
            </li>
        </ul>
        <!-- side content end -->

    </div>

    <div class="ish-col-xs-12 ish-col-sm-7 ish-col-sm-offset-1 ish-content__main">

        <!-- main content -->
        <a class="ish-image ish-lightbox" href="/img/pflo1.jpg">
            <img class="ish-image__image" src="/img/pflo1.jpg" alt="logotype design">
            <span class="ish-image__caption">Logotype Design</span>
        </a>
        <a class="ish-image ish-lightbox" href="/img/pflo2.jpg">
            <img class="ish-image__image" src="/img/pflo2.jpg" alt="our company">
        </a>
        <a class="ish-image ish-lightbox" href="/img/pflo3.jpg">
            <img class="ish-image__image" src="/img/pflo3.jpg" alt="brochure design">
            <span class="ish-image__caption">Brochure Design</span>
        </a>
        <!-- main content end -->

    </div>

</div>
<!-- content end -->
<% include layouts/footer %>