<% include layouts/header %>
<!-- lead -->
<a class="ish-row ish-fullrow ish-lead" href="detail">
	<span class="ish-lead__caption ish-icon-up">Featured Portfolio</span>
	<div class="ish-lead__image">
		<img src="/img/header.jpg" alt="work in silent">
	</div>
	<h1 class="ish-lead__headline">
		<span class="ish-lead__headline-inner">Workin<br>Silent</span>
	</h1>
</a>
<!-- lead end -->

<!-- content -->
<div class="ish-row ish-content ish-portfolio ish-macy">

	<!-- main content -->
	<ul class="ish-portfolio-item ish-portfolio-filter">
		<li class="ish-portfolio-filter__item ish-portfolio-filter--title">
			<h5>Filter:</h5>
		</li>
		<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link ish-portfolio-filter__link--active"
				href="#all">All</a></li>
		<% fakedata.categories.forEach(category => { %>
			<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link"
				href="#<%= category.title %>"><%= category.title %></a></li>
		<% }) %>
	</ul>

	<% fakedata.products.forEach(product => { %>
	<a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= product.category %>"
		href="/<%= product.slug %>.<%= product.id %>">
		<div class="ish-portfolio-item__image-container">
			<img class="ish-portfolio-item__image" src="<%= product.bigImage %>" alt="business cards">
		</div>
		<div class="ish-portfolio-item__desc">
			<span class="ish-portfolio-item__title"><%= product.title %></span>
			<span class="ish-portfolio-item__subtitle"><%= product.category %></span>
		</div>
	</a>
	<% }); %>

	<!-- main content end -->
</div>
<!-- content end -->

<% include layouts/footer %>